:root {
  --vp-c-brand: #646cff;
  --vp-c-brand-light: #747bff;
}

/* Ensure the content is visible and styled */
.VPDoc {
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
}
/* Medium Zoom styles */
.medium-zoom-overlay {
  z-index: 1000 !important;
}

.medium-zoom-image {
  z-index: 1001 !important;
}

.VPDoc table,
.VPDoc table tbody,
.VPDoc table tr,
.VPDoc table th,
.VPDoc table td {
    width: 100%;
}

.VPDoc table th,
.VPDoc table td {
    text-align: left;
}
